.datacontainer__body {
  max-width: 1800px;
  margin: 150px 40px 40px 40px;
  border: 1px solid black;
}

.datacontainer--loading {
  height: 1800px;
}

.datacontainer__body__pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}
