.articles__container  {

  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  border: 1px solid black;
}

.articles__container--top {
  border: 1px solid black;
  display: flex;
}

.articles__container--side {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1050px) {
  .articles__container--top {
    flex-wrap: wrap;
  }

  .articles__container--side {
    display: flex;
    flex-direction: row;
  }
}
